/* Titulo */
.title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2.4em;
  margin: 20px 0 20px 0;
}

/* @font-face {
  font-family: "Monoton";
  src: local("Monoton"), local("Monoton-Regular"),
    url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff)
      format("woff");
} */

/* .title {
  color: black;
  font-family: Monoton;
} */
